
.signup_wrapper
  = link_to image_tag('/assets/logo/logo.png', class: 'signup_wrapper__image'), root_path
  .signup_wrapper__form
    %h2.title 新規登録
    .form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :nickname  ,class: 'form__label' 
          %span ニックネーム
          %br/ 
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname",class:'form__field' ,required: true

        .field
          - f.label :email ,class: 'form__label'
          %span Eメール
          %br/
          = f.email_field :email,  autocomplete: "email",class:'form__field',required: true

        .field
          - f.label :password ,class: 'form__label'
          %span  パスワード
         
          = f.password_field :password, autocomplete: "new-password",class:'form__field',required: true

        .field
          - f.label :password_confirmation,class: 'form__label'
          %span パスワード（確認用）
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password",required: true,class:'form__field'

        .field
          - f.label :fullname ,class: 'form__label'
          %span 名前（フルネーム）
          %br/
          = f.text_field :fullname,  autocomplete: "fullname",required: true,class:'form__field'

        .field
          - f.label :fullname_katakana ,class: 'form__label'
          %span 名前（カタカナ）
          %br/
          = f.text_field :fullname_katakana,  autocomplete: "fullname_katakana",required: true,class:'form__field'
        
        .field
          - f.label :phone_number, class: 'form__label'
          %span 電話番号
          %br/
          = f.telephone_field :phone_number,  autocomplete: "phone_number",required: true,class:'form__field'

        .field
          - f.label :birthday ,class:'form__label'
          %span 誕生日
          %br/
          = f.date_field :birthday,  autocomplete: "birthday",required: true,class:'form__field'

        
        
        

        .actions
          = f.submit "保存",class:'actions__submit'
      = link_to 'ログインページ', new_user_session_path,class:'form__link'
      
