.mypage
  .mypage__wrraper
    .side
      %ul.side__function
        %li.li_mypage
          = link_to 'マイページ', users_path ,class: "list"
        %li 
          = link_to '出品する', "#",class: "list"
        %li
          = link_to '出品状況', "#",class: "list"
        %li
          = link_to '購入履歴', "#",class: "list"
        
      %p 設定
      %ul.side__acount
        
        %li
          = link_to '本人情報設定', edit_user_registration_path,class: "list"
        %li
          = link_to 'クレジットカード登録', new_user_path,class: "list"
        %li
          = link_to 'ログアウト',rogout_users_path,class: "list"

    .main
      .main__top
        = image_tag '/assets/logo/logo.png', class: 'main__top__image'
        .main__top__name
          %span naoya
        .main__top__sell
          %span 出品数
      .main__button
        %button 
          %span 出品リスト
        %button
          %span 購入履歴

      .main__list

        .list
          = image_tag '/assets/logo/logo.png',class: 'list__image'

          %ul.list__product
            -# ダミーデータ１
            %li.list__product__title
              %span どうぶつの森
            -# ダミーデータ２
            %li.list__product__content
              %span セーブデータは残っていません

        .list
          = image_tag '/assets/logo/logo.png',class: 'list__image'

          %ul.list__product

            %li.list__product__title
              %span フリマ
            %li.list__product__content
              %span この商品は2年前に購入しましたがほぼ未使用です

        
        = link_to '出品一覧リストを見る',"#",class:'link'

        