.mypage
  .mypage__wrraper
    .side
      %ul.side__function
        %li.li_mypage
          = link_to 'トップページ', root_path ,class: "list"
        %li 
          = link_to '出品する', new_product_path,class: "list"
        %li
          = link_to '出品状況', "#",class: "list"
        %li
          = link_to '購入履歴', "#",class: "list"
      %p 設定
      %ul.side__acount 
        %li
          = link_to '本人情報設定', edit_user_registration_path,class: "list"
        %li
          = link_to 'クレジットカード', new_card_path,class: "list"
        %li
          = link_to 'クレジットカード詳細', cards_path, class: "list"
        %li
          = link_to "ログアウト",destroy_user_session_path,method: :delete,class: "list"
    .content__box
      .content__credit-cards
        %h3 クレジットカード詳細
        - if @card.present?
          %ul.content__credit-cards__list
            %li
              = form_with url: card_path(@card.id), method: :delete, local: true, id: 'charge-form' do |f|
                .content__credit-cards__list--pay-num
                  %span Card number
                  = "**** **** **** " + @card_information.last4
                .content__credit-cards__list--pay-num
                  - exp_month = @card_information.exp_month.to_s
                  - exp_year = @card_information.exp_year.to_s.slice(2,3)
                  = exp_month + " / " + exp_year
                %input{type: "hidden", name: "card_id", value: ""}
                = f.submit "削除する", {class: "content__credit-cards__list__remove"}
                - if flash[:notice]
                  .alert.alert-success
                  = flash[:notice]
                - if flash[:alert]
                  .alert.alert-dange
                  = flash[:alert]
