#image-box

  #previews
    - if @product.persisted?
      - @product.images.each_with_index do |image, i|
        = image_tag image.src.url, data: { index: i }, width: "100", height: '100'



    .js-file_group{"data-index" => "#{f.index}"}
      = f.label :src do
        %i.fas.fa-file-upload
        = f.file_field :src, class: 'js-file',hidden:true
        %span.js-remove 削除
      - if @product.persisted?
        = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
      
      - if @product.persisted?
        .js-file_group{"data-index" => "#{@product.images.count}"}
          = f.label :src do
            %i.fas.fa-file-upload
            = file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file'
            .js-remove 削除





  

