.header
  .header__box
    .header__box__form
      .header__box__form__icon
        = link_to (image_tag asset_path('logo/logo.png'), class: 'icon'),root_path
      .header__box__form__box
        = form_with(url: product_search_products_path, method: :get,local: true) do |form|
          .productsearch
            = form.text_field :productsearch , class: "productsearch__text",required: true
            = form.label :submit do
              = button_tag type: 'submit', controller: "products",method: :get,class: "productsearch__submit" do
                %i.fas.fa-search
                
    .header__box__various
      .header__box__various__left
      
        .header__box__various__left__categories
          %i.fas.fa-bars
          = link_to "カテゴリ一から探す",category_products_path, class: "categories"
        
      - if user_signed_in?
        .header__box__various__right
          .header__box__various__right__login
            = current_user.fullname
          .header__box__various__right__login
            = link_to "マイページ", user_path(current_user.id), class: "login"
      
      - else      
        .header__box__various__right
          .header__box__various__right__login
            = link_to "ログイン",new_user_session_path, class: "login"
          .header__box__various__right__sign_up
            = link_to "新規会員登録",new_user_registration_path, class: "sign_up"
        