.main
  .image
    = image_tag asset_path("pict/bg-mainVisual-pict_pc.jpg"), width: "100%", height: "550px"
    .image__text
      .image__text__title
        人生を変えるフリマアプリ
      .image__text__sub
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .image__text__icon
        .apple
          %a{href: "https://apps.apple.com", style: "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-06-20&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"}
        .google
          %a{href: "https://play.google.com/store/apps?pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"}
            %img{alt: "Google Play で手に入れよう",width: "155px", height: "60px", src: "https://play.google.com/intl/ja/badges/static/images/badges/ja_badge_web_generic.png"}
  .introduction
    .introduction__title
      FURIMAが選ばれる3つの理由
      .introduction__bar
    .introduction__list
      .list
        .list__image
          = image_tag asset_path("pict/pict-reason-01.jpg"), width: "350px", height: "350px"
          .list__image__number
            1
        .list__title
          .list__title__left
            ３分
          .list__title__right
            ですぐに出品
        .list__text
          スマホで入力するだけで簡単に出品できる！
      .list
        .list__image
          = image_tag asset_path("pict/pict-reason-02.jpg"), width: "350px", height: "350px"
          .list__image__number
            2
        .list__title
          .list__title__left
            シンプルで
          .list__title__right
            使いやすい
        .list__text
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      .list
        .list__image
          = image_tag asset_path("pict/pict-reason-03.jpg"), width: "350px", height: "350px"
          .list__image__number
            3
        .list__title
          .list__title__right
            手数料
          .list__title__left
            業界最安
        .list__text
          スマホで入力するだけで簡単に出品できる！
  .second-image
    = image_tag asset_path("pict/bg-topMiddleDl-pict.jpg"), width: "100%", height: "500px"
    .second-image__text
      .second-image__text__title
        会員数日本一位
      .second-image__text__sub
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったの商品に出会えるかもしれません。
      .second-image__text__icon
        .apple
          %a{href: "https://apps.apple.com", style: "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-06-20&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"}
        .google
          %a{href: "https://play.google.com/store/apps?pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"}
            %img{alt: "Google Play で手に入れよう",width: "155px", height: "60px", src: "https://play.google.com/intl/ja/badges/static/images/badges/ja_badge_web_generic.png"}
  .feature
    .feature__title
      FURIMAの特徴
      .feature__title__bar
    .item
      .item__list
        .item__list__image
          = image_tag asset_path("icon/icon-01.png"), width: "300px", height: "400px"
        .item__list__title
          簡単に売り買いできる
        .item__list__text
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .item__list
        .item__list__image
          = image_tag asset_path("icon/icon-03.png"), width: "300x", height: "400px"
        .item__list__title
          売上金は即日振り込みに対応
        .item__list__text
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      .item__list
        .item__list__image
          = image_tag asset_path("icon/icon-04.png"), width: "300px", height: "400px"
        .item__list__title
          様々な支払いに対応
        .item__list__text
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .new_products
    .new_products__title
      ピックアップカテゴリー
    .new_products__sub
      = link_to '新規投稿商品', '#', class: "new-item-link"
    .new_products__box
      .product
        .product__image
          - @new_products.each do |product|
            - if product.images[0]
              = link_to "/products/#{product.id}" do
                = image_tag product.images[0].src.url, class: "photo"
        .product__body
          - @new_products.each do |new_product|
            .product__body__box
              .product__body__box__name
                = new_product.name
              .product__body__box__price
                .price
                  ¥
                  = new_product.price
                .star
                  .star__like
              .product__body__box__tax
                （税込）
      
  .pickup_products
    .pickup_products__title
      ピックアップカテゴリー
    .pickup_products__sub
      = link_to 'メンズ', '#', class: "mens-item-link"
    .pickup_products__box
      .product
        .product__image
          - @pickup_products.each do |product|
            - if product.images[0]
              = link_to "/products/#{product.id}" do
                = image_tag product.images[0].src.url, class: "photo"
        .product__body
          - @pickup_products.each do |pickup_product|
            .product__body__box
              .product__body__box__name
                = pickup_product.name
              .product__body__box__price
                .price
                  ¥
                  = pickup_product.price
                .star
                  ★
                  .star__like
                    0
              .product__body__box__tax
                （税込）