.exhibit
  .exhibit__title
    = link_to image_tag(asset_path('logo/logo.png'), class: 'merucari'), root_path
  .exhibit__all
    = form_with(model: @product, local: true) do |f|

      .exhibit__all__images
        .left_text
          %span.fat 出品画像 
          %span.red 必須
        .ten
          %p最大10枚までアップロードできます
          = f.fields_for :images do |image|      
            = render 'form', f: image

      .exhibit__all__name
        .left_text
          %span.fat 商品名 
          %span.red 必須
        .form
          = f.text_field :name, placeholder:"40字まで" , class:"name_form"

      .exhibit__all__details
        .left_text
          %span.fat 商品の説明
          %span.red 必須
        .form
        = f.text_area :details,placeholder:"傷が少しあります" , class:"name_form"

      .exhibit__all__example
        .example_name
          商品の詳細
        .exhibit__all__example__categories
          .left_text
            %span.fat カテゴリー
            %span.red 必須
          .form
            = f.select :categories, [ ["レディース","レディース"], ["メンズ", "メンズ"], ["キッズ・キッズ", "キッズ・キッズ" ] ,["インテリア","インテリア"]], prompt: "選択してください"

        .exhibit__all__example__condtion
          .left_text
            %span.fat 商品の状態
            %span.red 必須
          .form  
            = f.select :condition, [ ["新品","新品"], ["未使用に近い","未使用に近い"], ["やや傷あり", "やや傷あり" ] ,["全体的に傷あり", "全体的に傷あり"]], prompt: "選択してください"

      .exhibit__all__send
        .send_name
          配送について
        .exhibit__all__send__money
          .left_text
            %span.fat 配送料の負担
            %span.red 必須
          .form  
            = f.select :exhibition, [ ["送料込み（出品者負担）","送料込み（出品者負担）"], ["着払い（購入者負担）", "着払い（購入者負担）"]], prompt: "選択してください"

        .exhibit__all__send__area
          .left_text
            %span.fat 発送元の地域
            %span.red 必須
          .form  
            = f.select :shippingarea, [ ["西日本","西日本"], ["東日本", "東日本"]], prompt: "選択してください"

        .exhibit__all__send__date
          .left_text
            %span.fat 発送までの日数
            %span.red 必須
          .form  
            = f.select :shippingdate, [ ["１〜２日","１〜２日"], ["３〜４日い", "３〜４日い"], ["４日以上", "４日以上" ] ], prompt: "選択してください"

      .exhibit__all__price
        %p価格（¥300〜9,999,999）
        .price_between
          .left_text
            %span.fat 販売価格
            %span.red 必須
          .form      
            %span.red ¥
            = f.number_field :price, class:"name_form"
        .fee    
          %p#tax 販売手数料（10%）
          %p#tax -
        .profit
          %p#tax 販売利益
          %p#tax -  



      .exhibit__all__decide
        .out
          = f.submit "出品する",class: 'out_button' 
        .save
          = f.submit "下書きに保存",class: 'save_button'  
        .back
          = link_to type: "submit",class: "out_button" do
            = "もどる"
      
  .exhibit__footer
    