.purchase-confirmation-page
  .header
    = link_to image_tag asset_path('logo/logo-white.png'), class: 'header__logo'
  .main 
    .main__contents
      .main__contents__head
        %p 購入内容の確認
      .main__contents__item-info
        .main__contents__item-info__image
          = image_tag asset_path('icon/icon_brand.png'), size: "80x80", class: 'main__item__image__small-image'
        .main__contents__item-info__detail
          .name
            = @product.name
          .price 
            %span.price__letter
              ¥
              = @product.price
            %span.price__tax
              (税込)
            %span.price__shipping
              送料込み
      .payment-amount
        .payment-amount__top
          .payment-amount__top__text
            %p 支払い金額
          .payment-amount__top__price
            = @product.price

      .shipping-adress
        .shipping-adress__top
          .shipping-adress__top__left
            %p 配送先
          .shipping-adress__top__right
        .postal-code
          %p 
            〒
            = @product.user.address.zipcode
        .adress
          = @product.user.address.municipalities
          = @product.user.address.address
        .name
          = @product.user.nickname

      .bottom-content
        .purchase-btn
          - if @card.blank?
            = form_tag(action: :pay, method: :post) do
              :plain
                <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_7cc71c15790e0cce7327840d"></script>
          -else
            = form_tag(action: :pay, method: :post) do
              %button カードで購入する
  .footer