= render partial: 'top_header'
.show-contents 
  .item
    .item__contents
      .item__contents__name
        = @product.name
      .content
        .content__left
          .photo-main
            = image_tag "#{@image.src}", class: "photo-main__main"
          .photo-list
            - @images.each do |image|
              .photo-sab
                = image_tag "#{image.src}", class: "images-sab"
        .content__table
          %table
            %tr
              %th 出品者
              %td
                = link_to @product.user.nickname,"#"
            %tr
              %th カテゴリー
              %td 
                
                = link_to @product.category.root.name,"#"
                %br/
                = link_to @product.category.parent.name,"#"
                %br/
                = link_to @product.category.name,"#"
            %tr
              %th 商品状態
              %td 
                = @product.condition
            %tr
              %th 出品状態
              %td 
                = @product.exhibition
            %tr
              %th 配送元の地域
              %td 
                = @area.name
            %tr
              %th 配送日の目安
              %td 
                = @product.shippingdate
        .price 
          %span.price__letter
            ¥
            = @product.price
          %span.price__tax
            (税込)
          %span.price__shipping
            送料込み
        .choice-btn
          .buy-btn
            - if @product.status == 1
              = "SOLD OUT"
            
            -elsif user_signed_in? && current_user.id == @product.user_id
              = link_to "商品編集画面に進む",edit_product_path(@product.id)
            
            - else
              = link_to "購入画面に進む", purchase_products_path

        .item-explain
          %p.item-explain__inner
            %h2
              = safe_join(@product.details.split("\n"),tag(:br))
        .item-btn
          .item-btn__left
            = link_to "♡いいね","#"
          .item-btn__right
            = link_to "不適切な商品の報告","#"
    .comments
      .comments__area
        .comments__area__text
          .comment-list
            %h4 　コメント
            - if @comments
              - @comments.each do |comment|
                .comment-box
                  .comment-box__name
                    = comment.user.nickname
                  .comment-box__date
                    = comment.user.created_at = Time.current.strftime("%Y-%m-%d %H:%M")
                  %br
                  .comment-box__text
                    = simple_format(comment.comment)

          .message-form
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            -if current_user
              = form_with(model: [@product, @comment], local: true) do |form|
                = form.text_area :comment, placeholder: "コメントする", class: "message-text"
                = form.submit "SEND", class: "message-submit"
            - else
              %p※ コメントの投稿には新規登録/ログインが必要です。
    %ul.nav-item
      %li.nav-item__prev
        = link_to "前のページ"
      %li.nav-item__next
        = link_to "次のページ"
    .icon-box
      %ul.icon-box__list
        %li.list-one
          = link_to "https://www.facebook.com/", class: "contents__btn" do
            = icon('fab', 'facebook-square')
        %li.list-two
          = link_to "https://twitter.com/", class: "contents__btn" do
            = icon('fab', 'twitter')
        %li.list-three
          = link_to "https://www.instagram.com/", class: "contents__btn" do
            = icon('fab', 'instagram')
    .user-profile
      .user-contents
        %h2.user-contents__head
          -# = link_to "ベビーキッズをもっと見る","#"
  = render partial: 'top_footer'
